body {
  max-width: 968px;
  margin: auto;
}
.title {
  text-align: center;
}

.next-month-day {
  color: #9c9c9c;
}

.day {
  display: block;
  height: 100%;
}

.day-number {
  margin-left: 10px;
  font-weight: bold;
}

/* Table */
.table {
  display: table; 
  width: 100%;
}


.table-row {
  display: table-row;
}

.table-body {
  display: table-row-group;
}

.table-body .table-row .table-data:first-child,
.table-body .table-row .table-data:last-child {
  background:#f1f1f1;
  color: #4d789b;
}


.table-head {
  display: table-cell;
  padding: 3px 10px;
  color: white;
  background: #2e73b5;
}

.table-data {
  border: 1px solid #999999;
  display: table-cell;
  height: 100px;
  width: 100px;
  max-width: 100px;
}