body {
  max-width: 968px;
  margin: auto;
}
.title {
  text-align: center;
}

.prev-next-month {
  display: flex;
  justify-content: space-between;
}
.next-month-day  .day-number {
  color: #9c9c9c;
}

.day {
  display: block;
  height: 100%;
  position: relative;
}

.day-number {
  margin-left: 10px;
  font-weight: bold;
}

.date-weather {
  font-size: 10px;
  color: gray;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 10px 0 0;
}

/* Table */
.table {
  display: table; 
  width: 100%;
}


.table-row {
  display: table-row;
}

.table-body {
  display: table-row-group;
}

.table-body .table-row .table-data:first-child,
.table-body .table-row .table-data:last-child {
  background:#f1f1f1;
}
.table-body .table-row .table-data:first-child .day-number,
.table-body .table-row .table-data:last-child  .day-number{
  color: #2e73b5;
}

.table-head {
  display: table-cell;
  padding: 3px 10px;
  color: white;
  background: #2e73b5;
}

.table-data {
  border: 1px solid #999999;
  display: table-cell;
  height: 100px;
  width: 100px;
  max-width: 100px;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 350px;
}

.form button {
  margin-left: auto;
  margin-right: auto;
}

/* Helpers */
.is-text-center {
  text-align: center;
}